<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>formForm</title>
</head>
<body>
<h1>formForm</h1>
<form action="" method="post">
	<table border="" th:object="${person}">
		<tr>
			<td>이름</td>
			<td><input type="text" th:field="*{pname}" /></td>
		</tr>
		<tr>
			<td>결혼여부</td>
			<td><input type="radio" name="marriage" th:checked="*{marriage}" />기혼
				<input type="radio" name="marriage" th:checked="*{!marriage}" />미혼
			</td>
		</tr>
		<tr>
			<td>취미</td>
			<td>
				<div th:each="hh : *{hobby}">
					<input type="checkbox" th:field="*{hobby}" th:value="${hh.key}" />
					<label th:for="${#ids.prev('hobby')}" th:text="${hh.value}"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td>성별</td>
			<td><div th:each="gg : *{genders}">
					<!-- <input type="radio" th:field="*{genders}" th:value="${gg}" th:checked="${false}" /> -->
					<input type="radio" name="gender" th:value="${gg}" th:checked="${gg}==*{gender}" />
					<label th:text="${gg}"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td>이메일</td>
			<td><input type="text" name="email1" />@
				<select th:field="*{email2}">
					<option th:each="ee : *{emails}" th:value="${ee}" th:text="${ee}" ></option>
				</select>			
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="제출" /></td>
		</tr>
	</table>
</form>
</body>
</html>