<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>scope</title>
</head>
<body>
<h1>scope</h1>
<!-- 버전문제로 사용불가
request:<span th:text="${#request}" /><br/>
response:<span th:text="${#response}" /><br/>
session:<span th:text="${#session}" /><br/>
context:<span th:text="${#servletContext}" /><br/>
 -->
locale:<span th:text="${#locale}" /><br/>
aaa:[[${aaa}]]<br/>
param.aaa:[[${param.aaa}]]<br/> <!-- request.getParameter를 param.으로 간단하게 -->
ph1:[[${ph1}]]<br/> <!-- 리퀘스트가 우선순위 높음 -->
session.ph2:[[${session.ph2}]]<br/> <!-- 세션은 이렇게 가져옴 -->
<!-- @:been을 가져온다 -->
sportCar:[[${@sportCar}]]<br/>
</body>
</html>