<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
<meta charset="UTF-8">
<title>mybatisProj</title>
</head>
<body>
<h1>mybatisProj</h1>
now : <span th:text="${now}"/><br/>
phone : <span th:text="${phone.name}"/><br/>
<h2>basic</h2>
<a href="basic/var">var</a>
<a href="basic/scope?aaa=123">scope</a>
<a href="basic/calc?a=10&b=20">calc</a>
<a href="basic/control">control</a>
<a href="basic/link">link</a>
<a href="basic/join">join</a>
<a href="basic/formForm">formForm</a>
<a href="basic/layout">layout</a>
<a href="db/list">list</a>
<a href="tran/list">transection</a>
</body>
</html>