<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list</title>
</head>
<body>
<h1>list</h1>
<table border="">
	
	<tr>
		<td>이혜미</td>
		<td>제목</td>
		<td>작성자</td>
		<td>등록일</td>
		<td>조회수</td>
	</tr>
	<tr th:each="dto , dtoStat: ${mainData}">
		<td th:text="${dtoStat.index}"/> <!-- dtoStat:상태 dto:내용 -->
		<td th:text="${dto.title}"/>
		<td th:text="${dto.pname}"/>
		<td th:text="${dto.reg_date}"/>
		<td th:text="${dto.cnt}"/>
	</tr>
	<tr>
		<td colspan="5" align="right">
			<a th:href="@{insert1}" th:text="글쓰기1"/>
			<a th:href="@{insert2}" th:text="글쓰기2"/>
			<a th:href="@{insert3}" th:text="글쓰기3"/>
			<a th:href="@{insert4}" th:text="글쓰기4"/>
		</td>
	</tr>
</table>
</body>
</html>